.newOrderContainer{
    width: 100%;
    max-width: 1100px;
}

.newOrderContainer .contentForm {
    width: 50%;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 4px 6px rgb(202, 202, 202);
}

.newOrderContainer form {
    display: flex;
    flex-direction: column;    
}

.newOrderContainer input, select {
    margin-bottom: 10px; 
}

.newOrderContainer .value{
    width: 100%;
    max-width: 100px;   
}