.newItemContainer{
    width: 100%;
    max-width: 1100px;

    .contentForm {
        width: 50%;
        margin: 20px 0;
        padding: 20px;
        background: #fff;
        box-shadow: 4px 4px 6px rgb(202, 202, 202);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input, select {
        margin-bottom: 10px;
    }

    .value{
        width: 100%;
        max-width: 100px;
    }
}
