@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 14px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

.newButton {
    background: rgb(49, 49, 49);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 6px rgb(82, 82, 82);  
    font-weight: bold;
}

.newButton:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 10px rgb(134, 134, 134);
}

.insertButton {
    background: rgb(49, 49, 49);
    color: #fff;
    padding: 10px;  
    border: 0;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 6px rgb(82, 82, 82);  
    font-weight: bold;
}

.insertButton:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 10px rgb(134, 134, 134);
}