@import '../../variables.scss';

.ordersContainer {
    width: 100%;
    max-width: 1100px;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        list-style: none;

        li {
            background: #fff;
            color: #000;
            padding: 24px;
            border-radius: 8px;
            position: relative;
            line-height: 1.2rem;
            box-shadow: 4px 4px 6px rgb(202, 202, 202);
            transition-duration: 0.5s;

            &:hover {
                box-shadow: 2px 2px 10px rgb(134, 134, 134);
                cursor: pointer;
            }

            .headerCardOrder {
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                color: #fff;
                padding: 2px 6px;
                border-radius: 10px;
                font-weight: bold;
              }
              .started {
                background: $started;
              }

              .preparing {
                background: $preparing;
              }

              .waitingForDeliveryMan {
                background: $waitingForDeliveryMan;
              }

              .outForDelivery {
                background: $outForDelivery;
              }

              .finished {
                background: $finished;
              }

              .canceled {
                background: $canceled;
              }
            }

            .footerCardOrder {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              i {
                margin-left: 8px;
                display: flex;
              }
            }
        }

        a {
            text-decoration: none;
        }
    }
}
